::selection {
    background:#B5F0FF;
}

::-moz-selection {
    background:#B5F0FF;
}

blockquote{
  background-color:#4C4B49；
} 

/*basic styles starts*/


html {
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}

body {
	color: #333;
	font-family: "museo-slab", "source-han-sans-simplified-c", PingFangSC-Regular, 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	width: 100%;
	margin: 0 auto 30px auto;
	background-color: #fbfbfb;
	#background: url(/template/img/cream_dust_@2X.png) repeat 0 0;

}



p {
	line-height: 1.8em;
	#font-weight: 400;
  	margin-bottom: 1.2em;
  	
  	img {
    	 text-align:center;
		display:table;
		float:block;
		margin:auto;
		position:relative;
     }
}

a {
	text-decoration: none;
}

a:link, a:visited {
	opacity: 1;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	-ms-transition: all .15s linear;
	transition: all .15s linear;
	color: #424242;

}

a:hover, a:active {
	color: #555;

}

/*basic styles ends*/



/*animation starts*/

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.animated.hinge {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

/*animation ends*/




.content {
	max-width: 700px;
	padding: 0;
	height: auto;
	margin: 0 auto;
}


.header {
	width: 720px;
	padding: 100px 0 30px 0;
	margin: 0 auto;
	-webkit-background-size: cover;
	background-size: cover;

	.logo-title{
		text-align: center;
		padding: 0;

		.description {
			padding: 20px 5px 0 5px;
			font-size: 14px;
			color: #565654;
               font-family: "museo-slab", sans-serif;
		}


		.logo {
			margin: 0 auto;
		}

		.title{
			h1 {
				font-family: "museo-sans-rounded",sans-serif;
              	   font-weight:800;
				text-transform: uppercase;
				letter-spacing: 5px;
				line-height:1;
              	   color: #333;
			}

			a {
				text-decoration: none;
				color: #333;
				font-size: 5rem;
				font-weight: bold;
			}
		}

	}

	.social-links {
		list-style: none;
		padding: 0;
		font-size: 14px;
		text-align: center;

		i{
			margin-right: 3px;
		}

		li {
			display: inline;
			padding: 0 4px;
			line-height: 0;
		}

		a {
			color: #565654;
		}
	}
}



.post-page {
	padding-top: 100px;
}


.post {
	background-color: #fbfbfb;
	margin-top: 30px;
	#background: url(/template/img/cream_dust_@2X.png) repeat 0 0;

	.post-title{
		h1 {
			text-transform: uppercase;
			font-size: 40px;
			letter-spacing: 5px;
			line-height: 1;
		}

		h2 {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 2.5rem;
			line-height: 1;
			font-weight: 600;
			color: #5f5f5f;
			padding-bottom: 10px;

		}

		h3 {
			font-size: 36px;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 1;
			font-weight: 600;
			color: #5f5f5f;
			padding-bottom: 10px;

		}

		a {
			text-decoration: none;
			letter-spacing: 1px;
			color: #5f5f5f;

		}
	}

	.post-content{		 
  			.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {float: left;
  			}
  			
  			.col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-pull-1 {
    right: 8.3333333333%;
  }
  .col-md-pull-2 {
    right: 16.6666666667%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-4 {
    right: 33.3333333333%;
  }
  .col-md-pull-5 {
    right: 41.6666666667%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-7 {
    right: 58.3333333333%;
  }
  .col-md-pull-8 {
    right: 66.6666666667%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-10 {
    right: 83.3333333333%;
  }
  .col-md-pull-11 {
    right: 91.6666666667%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-push-1 {
    left: 8.3333333333%;
  }
  .col-md-push-2 {
    left: 16.6666666667%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-4 {
    left: 33.3333333333%;
  }
  .col-md-push-5 {
    left: 41.6666666667%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-7 {
    left: 58.3333333333%;
  }
  .col-md-push-8 {
    left: 66.6666666667%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-10 {
    left: 83.3333333333%;
  }
  .col-md-push-11 {
    left: 91.6666666667%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }

  pre{
     font-family:"futura-pt-condensed", "source-han-sans-simplified-c", sans-serif;
     padding:20px 40px;
     font-size:1.1em;
     line-height:1.1em;
     font-weight:500;
  	background-color:#efefef;
	border:dotted 1px #b9b9b9;
	word-wrap: break-word; 
	word-break: normal; 
     code{
     font-family:"futura-pt-condensed", "source-han-sans-simplified-c", sans-serif;
     line-height:1.1em;
     border:dotted 0px #fbfbfb;
     }
  }   
      
  code{
     font-family:"futura-pt-condensed";
     font-size:1.2em;
     font-weight:500;
     background-color:#efefef;
	border:dotted 1px #b9b9b9;
  }
		 
		 a {
			text-decoration: none;
			letter-spacing: 1px;
			color: #FF5449;
		}
	}

	.post-footer {
		padding: 0 0 60px 0;
		border-bottom: 1px solid #f2f2f2;


		.meta {
			max-width: 100%;
			height: 25px;
			color: #bbbbbb;

			.info {
				float: left;
				font-size: 12px;
				.date{
					margin-right: 5px;
				}
			}

			a {
				text-decoration: none;
				color: #bbbbbb;
			}
			i{
				margin-right: 3px;
			}
		}



		.tags{
			padding-bottom: 15px;
			font-size: 13px;

			ul {
				list-style-type: none;
				display: inline;
				margin: 0;
				padding: 0;

				li {
					list-style-type: none;
					margin: 0;
					padding-right: 5px;
					display: inline;
				}
			}

			a{
				text-decoration: none;
				color: rgba(0, 0, 0, 0.44);
				font-weight: 400;

				&:hover{
					text-decoration: none;
				}
			}
		}
	}


}




.pagination {
	padding: 15px 0 40px 0;
	border-bottom: 1px solid #f2f2f2;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 13px;

		li {
			margin: 0 2px 0 2px;
			display: inline;
			line-height: 1;

			 a {
				text-decoration: none;
			}
		}
	}

	.pre {
		float: left;
	}

	.next {
		float: right;
	}
}








.like-reblog-buttons {
	float: right;
}

.like-button {
	float: right;
	padding: 0 0 0 10px;
}

.reblog-button {
	float: right;
	padding: 0;
}

#install-btn {
	position: fixed;
	bottom: 0px;
	right: 6px
}

#disqus_thread {
	padding: 30px 0;
	border-bottom: 1px solid #f2f2f2;
}

.footer {
	clear: both;
	max-width: 700px;
	text-align: center;
	font-size: 10px;
	padding-top: 60px;
	margin: 0 auto;

	a {
		color: #A6A6A6;
		margin-left: 3px;
	}
	span{
		margin-right: 3px;
	}
	.by_farbox{
		margin-top: 30px;
	}
}




/*for archive*/
.list-with-title{
	font-size: 14px;
    margin: 0;
	padding: 0;

	li {
        list-style-type: none;
        padding: 0;
    }

	.listing-title {
		font-size: 24px;
		color: #666666;
		font-weight: bold;
		padding-top: 10px;
		line-height: 2.2em;
	}
	.listing{
		margin: 0 0 50px 0;
        padding: 0;


		.listing-post {
			padding-bottom: 5px;

			.post-time {
				float: right;
				color: #C5C5C5;
			}

			 a {
				color: #8F8F8F;

				 &:hover{
					 color: #FF5449;
				 }
			}

		}
	}
}






/* 评论样式 */

.comment-count {
	color: #666;
}

.tab-community {
	color: #666;
}

.read_more {
	font-size: 14px;
}

.back-button {
	padding-top: 30px;
	max-width: 100px;
	padding-left: 40px;
	float: left;
}

/* 按钮样式 */
a.btn {
	color: #868686;
	font-weight: 400;

}

.btn {
	display: inline-block;
	position: relative;
	outline: 0;
	color: rgba(0, 0, 0, 0.44);
	background: rgba(0, 0, 0, 0);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.15);
	white-space: nowrap;
	font-weight: 400;
	font-style: normal;
	border-radius: 999em;
}

.btn:hover {
	display: inline-block;
	position: relative;
	outline: 0px;
	color: #FF5449;
	background: rgba(0, 0, 0, 0);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #FF5449;
	white-space: nowrap;
	font-weight: 400;
	font-style: normal;
	border-radius: 999em;
}

[role="back"] {
	padding: 0.5em 1.25em;
	line-height: 1.666em;
}

[role="home"] {
	padding: 0.5em 1.25em;
	line-height: 1.666em;
}

[role="navigation"] {
	padding: 0.5em 1.25em;
	line-height: 1.666em;
}

[role="tags"] {
	padding: 6px 12px;
}

/* Menu样式 */
.menu {
	float: right;
	padding-top: 30px;

	.btn-down{
		margin: 0px;
		li {
			list-style: none;
			width: 100px;

			 a {
				display: inline-block;
				position: relative;
				padding: 0.5em 1.25em;
				outline: 0;
				color: rgba(0, 0, 0, 0.44);
				background: rgba(0, 0, 0, 0);
				font-size: 14px;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
				border: 1px solid rgba(0, 0, 0, 0.15);
				white-space: nowrap;
				font-weight: 400;
				font-style: normal;
				border-radius: 999em;
				margin-top: 5px;

				 &:hover{
					 position: relative;
					padding: 0.5em 1.25em;
					outline: 0;
					color: #fff;
					background: #FF5449;
					font-size: 14px;
					text-align: center;
					text-decoration: none;
					cursor: pointer;
					border: 1px solid rgba(0, 0, 0, 0.15);
					white-space: nowrap;
					font-weight: 400;
					font-style: normal;
					border-radius: 999em;
					margin-top: 5px;
				 }
			}

		}
	}

	.btn-down div {
		position: absolute;
		visibility: hidden;
		width: 100px;
		float: right;

	}

}




@media screen and (max-width: 900px) {
	.header {
		display: none;
	}

	.content{
		margin-top: 100px;
	}

	.menu{
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 15px;

		.btn-down li a{
			background: #fff;
		}
	}

	.post {
		margin-top: 40px;
	}

	.post-footer {
		padding-bottom: 30px;
	}

}